In [12]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

import warnings
warnings.filterwarnings('ignore')

from sklearn.model_selection import train_test_split,cross_val_score
from sklearn.linear_model import LogisticRegression
from sklearn.neighbors import KNeighborsClassifier
from sklearn.svm import SVC
from sklearn.tree import DecisionTreeClassifier

from sklearn.metrics import accuracy_score,classification_report

In [13]:
df=pd.read_csv('bank.csv')
df

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,59,0,1,1,0,2343,1,0,2,5,8,1042,1,-1,0,3,1
1,56,0,1,1,0,45,0,0,2,5,8,1467,1,-1,0,3,1
2,41,9,1,1,0,1270,1,0,2,5,8,1389,1,-1,0,3,1
3,55,7,1,1,0,2476,1,0,2,5,8,579,1,-1,0,3,1
4,54,0,1,2,0,184,0,0,2,5,8,673,2,-1,0,3,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11157,33,1,2,0,0,1,1,0,0,20,0,257,1,-1,0,3,0
11158,39,7,1,1,0,733,0,0,2,16,6,83,4,-1,0,3,0
11159,32,9,2,1,0,29,0,0,0,19,1,156,2,-1,0,3,0
11160,43,9,1,1,0,0,0,1,0,8,8,9,2,172,5,0,0
11161,34,9,1,1,0,0,0,0,0,9,5,628,1,-1,0,3,0

In [14]:
df.head()

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome,deposit
0,59,0,1,1,0,2343,1,0,2,5,8,1042,1,-1,0,3,1
1,56,0,1,1,0,45,0,0,2,5,8,1467,1,-1,0,3,1
2,41,9,1,1,0,1270,1,0,2,5,8,1389,1,-1,0,3,1
3,55,7,1,1,0,2476,1,0,2,5,8,579,1,-1,0,3,1
4,54,0,1,2,0,184,0,0,2,5,8,673,2,-1,0,3,1

In [15]:
df['deposit'].value_counts()

deposit
0    5873
1    5289
Name: count, dtype: int64

In [16]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11162 entries, 0 to 11161
Data columns (total 17 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   age        11162 non-null  int64
 1   job        11162 non-null  int64
 2   marital    11162 non-null  int64
 3   education  11162 non-null  int64
 4   default    11162 non-null  int64
 5   balance    11162 non-null  int64
 6   housing    11162 non-null  int64
 7   loan       11162 non-null  int64
 8   contact    11162 non-null  int64
 9   day        11162 non-null  int64
 10  month      11162 non-null  int64
 11  duration   11162 non-null  int64
 12  campaign   11162 non-null  int64
 13  pdays      11162 non-null  int64
 14  previous   11162 non-null  int64
 15  poutcome   11162 non-null  int64
 16  deposit    11162 non-null  int64
dtypes: int64(17)
memory usage: 1.4 MB

In [17]:
#Separate x and y
x=df.iloc[:,:-1]
y=df['deposit']

In [18]:
x

,age,job,marital,education,default,balance,housing,loan,contact,day,month,duration,campaign,pdays,previous,poutcome
0,59,0,1,1,0,2343,1,0,2,5,8,1042,1,-1,0,3
1,56,0,1,1,0,45,0,0,2,5,8,1467,1,-1,0,3
2,41,9,1,1,0,1270,1,0,2,5,8,1389,1,-1,0,3
3,55,7,1,1,0,2476,1,0,2,5,8,579,1,-1,0,3
4,54,0,1,2,0,184,0,0,2,5,8,673,2,-1,0,3
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11157,33,1,2,0,0,1,1,0,0,20,0,257,1,-1,0,3
11158,39,7,1,1,0,733,0,0,2,16,6,83,4,-1,0,3
11159,32,9,2,1,0,29,0,0,0,19,1,156,2,-1,0,3
11160,43,9,1,1,0,0,0,1,0,8,8,9,2,172,5,0
11161,34,9,1,1,0,0,0,0,0,9,5,628,1,-1,0,3

In [19]:
y

0        1
1        1
2        1
3        1
4        1
        ..
11157    0
11158    0
11159    0
11160    0
11161    0
Name: deposit, Length: 11162, dtype: int64

In [20]:
xtrain,xtest,ytrain,ytest=train_test_split(x,y,test_size=0.30,random_state=1)

In [21]:
lreg=LogisticRegression()
knn=KNeighborsClassifier()
svm=SVC()
dt=DecisionTreeClassifier()

In [22]:
def mymodel(model):
    model.fit(xtrain,ytrain)
    ypred=model.predict(xtest)
    ac=accuracy_score(ytest,ypred)
    cr=classification_report(ytest,ypred)
    print(f"Accuracy: {ac} \n Classification report:\n {cr}")

In [23]:
mymodel(lreg)

Accuracy: 0.7659002687369364
 Classification report:
               precision    recall  f1-score   support

           0       0.77      0.80      0.78      1760
           1       0.76      0.73      0.75      1589

    accuracy                           0.77      3349
   macro avg       0.77      0.76      0.76      3349
weighted avg       0.77      0.77      0.77      3349

In [24]:
mymodel(knn)

Accuracy: 0.7539564048969841
 Classification report:
               precision    recall  f1-score   support

           0       0.76      0.78      0.77      1760
           1       0.75      0.72      0.74      1589

    accuracy                           0.75      3349
   macro avg       0.75      0.75      0.75      3349
weighted avg       0.75      0.75      0.75      3349

In [25]:
mymodel(svm)

Accuracy: 0.7414153478650344
 Classification report:
               precision    recall  f1-score   support

           0       0.72      0.84      0.77      1760
           1       0.78      0.63      0.70      1589

    accuracy                           0.74      3349
   macro avg       0.75      0.74      0.74      3349
weighted avg       0.75      0.74      0.74      3349

In [15]:
mymodel(dt)

Accuracy: 0.7909823828008361
 Classification report:
               precision    recall  f1-score   support

           0       0.80      0.81      0.80      1760
           1       0.78      0.77      0.78      1589

    accuracy                           0.79      3349
   macro avg       0.79      0.79      0.79      3349
weighted avg       0.79      0.79      0.79      3349

# Checking overfitting of data

In [31]:
dt.score(xtrain,ytrain)

NotFittedError: This DecisionTreeClassifier instance is not fitted yet. Call 'fit' with appropriate arguments before using this estimator.

HyperTuning DT

In [27]:
#Hyper parameters with impurity checker Gini
for i in range(1,31):
    dt1=DecisionTreeClassifier(max_depth=i)
    dt1.fit(xtrain,ytrain)
    ypred=dt1.predict(xtest)
    ac=accuracy_score(ytest,ypred)
    print(f"Max Depth:{i}  accuracy: {ac}")

Max Depth:1  accuracy: 0.7121528814571514
Max Depth:2  accuracy: 0.7121528814571514
Max Depth:3  accuracy: 0.771275007464915
Max Depth:4  accuracy: 0.78501045088086
Max Depth:5  accuracy: 0.7993430874888027
Max Depth:6  accuracy: 0.8011346670647954
Max Depth:7  accuracy: 0.8151687070767393
Max Depth:8  accuracy: 0.818751866228725
Max Depth:9  accuracy: 0.8121827411167513
Max Depth:10  accuracy: 0.8175574798447298
Max Depth:11  accuracy: 0.8196476560167214
Max Depth:12  accuracy: 0.8103911615407584
Max Depth:13  accuracy: 0.8103911615407584
Max Depth:14  accuracy: 0.7996416840848014
Max Depth:15  accuracy: 0.7963571215288145
Max Depth:16  accuracy: 0.7918781725888325
Max Depth:17  accuracy: 0.7894893998208421
Max Depth:18  accuracy: 0.78501045088086
Max Depth:19  accuracy: 0.78501045088086
Max Depth:20  accuracy: 0.7826216781128695
Max Depth:21  accuracy: 0.7841146610928635
Max Depth:22  accuracy: 0.7856076440728575
Max Depth:23  accuracy: 0.7891908032248433
Max Depth:24  accuracy: 0.7873992236488504
Max Depth:25  accuracy: 0.783517467900866
Max Depth:26  accuracy: 0.7909823828008361
Max Depth:27  accuracy: 0.7853090474768588
Max Depth:28  accuracy: 0.7817258883248731
Max Depth:29  accuracy: 0.7900865930128397
Max Depth:30  accuracy: 0.7912809793968348

In [28]:
#building model with final value of max depth as 11
dt2=DecisionTreeClassifier(max_depth=11)
mymodel(dt2)

Accuracy: 0.8184532696327261
 Classification report:
               precision    recall  f1-score   support

           0       0.83      0.82      0.83      1760
           1       0.81      0.81      0.81      1589

    accuracy                           0.82      3349
   macro avg       0.82      0.82      0.82      3349
weighted avg       0.82      0.82      0.82      3349

In [29]:
#lets check overfitting scenario
dt2.score(xtrain,ytrain)

0.9125815947779342

In [22]:
for i in range(2,50):
    dt1=DecisionTreeClassifier(min_samples_split=i)
    dt1.fit(xtrain,ytrain)
    ypred=dt1.predict(xtest)
    ac=accuracy_score(ytest,ypred)
    print(f"min sample split:{i}  accuracy: {ac}")

min sample split:2  accuracy: 0.787996416840848
min sample split:3  accuracy: 0.7826216781128695
min sample split:4  accuracy: 0.7802329053448791
min sample split:5  accuracy: 0.7841146610928635
min sample split:6  accuracy: 0.7891908032248433
min sample split:7  accuracy: 0.7862048372648551
min sample split:8  accuracy: 0.7924753657808301
min sample split:9  accuracy: 0.7924753657808301
min sample split:10  accuracy: 0.795759928336817
min sample split:11  accuracy: 0.794266945356823
min sample split:12  accuracy: 0.7859062406688564
min sample split:13  accuracy: 0.7906837862048373
min sample split:14  accuracy: 0.7978501045088086
min sample split:15  accuracy: 0.792773962376829
min sample split:16  accuracy: 0.798745894296805
min sample split:17  accuracy: 0.7999402806808003
min sample split:18  accuracy: 0.8062108091967751
min sample split:19  accuracy: 0.806509405792774
min sample split:20  accuracy: 0.8100925649447597
min sample split:21  accuracy: 0.8106897581367573
min sample split:22  accuracy: 0.8121827411167513
min sample split:23  accuracy: 0.8112869513287548
min sample split:24  accuracy: 0.8136757240967453
min sample split:25  accuracy: 0.8133771275007465
min sample split:26  accuracy: 0.8127799343087488
min sample split:27  accuracy: 0.814272917288743
min sample split:28  accuracy: 0.815765900268737
min sample split:29  accuracy: 0.8181546730367274
min sample split:30  accuracy: 0.818751866228725
min sample split:31  accuracy: 0.8175574798447298
min sample split:32  accuracy: 0.8214392355927143
min sample split:33  accuracy: 0.8214392355927143
min sample split:34  accuracy: 0.8208420424007167
min sample split:35  accuracy: 0.8226336219767094
min sample split:36  accuracy: 0.8235294117647058
min sample split:37  accuracy: 0.8214392355927143
min sample split:38  accuracy: 0.8238280083607047
min sample split:39  accuracy: 0.8247237981487011
min sample split:40  accuracy: 0.8262167811286951
min sample split:41  accuracy: 0.8256195879366975
min sample split:42  accuracy: 0.8271125709166915
min sample split:43  accuracy: 0.8259181845326963
min sample split:44  accuracy: 0.8271125709166915
min sample split:45  accuracy: 0.8277097641086891
min sample split:46  accuracy: 0.826515377724694
min sample split:47  accuracy: 0.8283069573006868
min sample split:48  accuracy: 0.8259181845326963
min sample split:49  accuracy: 0.8268139743206927

In [23]:
dt4=DecisionTreeClassifier(min_samples_split=40)
mymodel(dt4)

Accuracy: 0.8259181845326963
 Classification report:
               precision    recall  f1-score   support

           0       0.85      0.81      0.83      1760
           1       0.80      0.85      0.82      1589

    accuracy                           0.83      3349
   macro avg       0.83      0.83      0.83      3349
weighted avg       0.83      0.83      0.83      3349

In [25]:
dt4.score(xtrain,ytrain)

0.8785357737104825

In [29]:
for i in range(1,51):
    dt5=DecisionTreeClassifier(min_samples_leaf=i)
    dt5.fit(xtrain,ytrain)
    ypred=dt5.predict(xtest)
    ac=accuracy_score(ytest,ypred)
    print(f"min sample leaf:{i}  accuracy: {ac}")

min sample leaf:1  accuracy: 0.7885936100328457
min sample leaf:2  accuracy: 0.7754553598088981
min sample leaf:3  accuracy: 0.7862048372648551
min sample leaf:4  accuracy: 0.7897879964168408
min sample leaf:5  accuracy: 0.7888922066288444
min sample leaf:6  accuracy: 0.7936697521648253
min sample leaf:7  accuracy: 0.8071065989847716
min sample leaf:8  accuracy: 0.8115855479247537
min sample leaf:9  accuracy: 0.8103911615407584
min sample leaf:10  accuracy: 0.8145715138847417
min sample leaf:11  accuracy: 0.8124813377127501
min sample leaf:12  accuracy: 0.8163630934607345
min sample leaf:13  accuracy: 0.8130785309047477
min sample leaf:14  accuracy: 0.8151687070767393
min sample leaf:15  accuracy: 0.8163630934607345
min sample leaf:16  accuracy: 0.8220364287847118
min sample leaf:17  accuracy: 0.8232308151687071
min sample leaf:18  accuracy: 0.8214392355927143
min sample leaf:19  accuracy: 0.8217378321887131
min sample leaf:20  accuracy: 0.8274111675126904
min sample leaf:21  accuracy: 0.8271125709166915
min sample leaf:22  accuracy: 0.8286055538966856
min sample leaf:23  accuracy: 0.8283069573006868
min sample leaf:24  accuracy: 0.8268139743206927
min sample leaf:25  accuracy: 0.8268139743206927
min sample leaf:26  accuracy: 0.8274111675126904
min sample leaf:27  accuracy: 0.8262167811286951
min sample leaf:28  accuracy: 0.8256195879366975
min sample leaf:29  accuracy: 0.8274111675126904
min sample leaf:30  accuracy: 0.8238280083607047
min sample leaf:31  accuracy: 0.8262167811286951
min sample leaf:32  accuracy: 0.8262167811286951
min sample leaf:33  accuracy: 0.8250223947447
min sample leaf:34  accuracy: 0.826515377724694
min sample leaf:35  accuracy: 0.8253209913406987
min sample leaf:36  accuracy: 0.8253209913406987
min sample leaf:37  accuracy: 0.8259181845326963
min sample leaf:38  accuracy: 0.8256195879366975
min sample leaf:39  accuracy: 0.8283069573006868
min sample leaf:40  accuracy: 0.8259181845326963
min sample leaf:41  accuracy: 0.8292027470886831
min sample leaf:42  accuracy: 0.8286055538966856
min sample leaf:43  accuracy: 0.8289041504926844
min sample leaf:44  accuracy: 0.8253209913406987
min sample leaf:45  accuracy: 0.8253209913406987
min sample leaf:46  accuracy: 0.8253209913406987
min sample leaf:47  accuracy: 0.8253209913406987
min sample leaf:48  accuracy: 0.8253209913406987
min sample leaf:49  accuracy: 0.8253209913406987
min sample leaf:50  accuracy: 0.8250223947447

In [30]:
dt5=DecisionTreeClassifier(min_samples_leaf=41)
mymodel(dt5)

Accuracy: 0.8292027470886831
 Classification report:
               precision    recall  f1-score   support

           0       0.86      0.81      0.83      1760
           1       0.80      0.85      0.83      1589

    accuracy                           0.83      3349
   macro avg       0.83      0.83      0.83      3349
weighted avg       0.83      0.83      0.83      3349

In [32]:
dt5.score(xtrain,ytrain)

0.8446179444515551